.modal__cross{
    display: block;
    width: 14px;
    height: 14px;
        
    
    background-color: transparent;
    border: transparent;
    outline: transparent;
    stroke: $fontWhite;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    
    @include mq(tablet) {
            top: 20px;
            right: 32px;
        }


}

.menu-btn-open{
    top: 27px;
    right: 20px;
    z-index: 2;

    display: block;
    width: 20px;
    height: 12px;

    background-color: transparent;
    border: transparent;
    outline: transparent;
    stroke: $accentColor;
   
    @include mq(tablet) {
        top: 46px;
        right: 224px;
    }
    
    @include mq(desktop) {
        display: none;
    }




    
}









