// В этом файле работает Дима Олейник
.gallery {
    background-image: linear-gradient(180deg, #fff5f6 39%, #fff 39%);
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px;
        @include mq(tablet){
            gap: 4px;
        }
        @include mq(tablet){
            gap: 7px;
        }
    }
    &__container {
        padding-top: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__box {
        :first-child {
            margin-bottom: 2px;
            @include mq(tablet) {
                margin-bottom: 4px;
            }
            @include mq(tablet) {
                margin-bottom: 7px;
            }
        }
    }
    
    &__img {
        transform: perspective(400px) rotateY(0deg);
        transition: 1s;
        .gallery__hover:hover & {
                z-index: 1;
                transform: rotateY(180deg);
            }
        width: 40px;
        height: 40px;
        @include mq(tablet) {
            width: 85px;
            height: 85px;
            }
        @include mq(desktop) {
            width: 138px;
            height: 138px;
        }
        }
    &__img-big {
        width: 80px;
        height: 80px;
        @include mq(tablet) {
            width: 175px;
            height: 175px;
        }
        @include mq(desktop) {
            width: 284px;
            height: 284px;
        }
    }
    &__img-1 {
        margin-top: 40px;
        margin-bottom: 42px;
        @include mq(tablet) {
            margin-top: 87px;
            margin-bottom: 92px;
        }
        @include mq(desktop) {
            margin-top: 142px;
            margin-bottom: 150px;
        }
    }
    &__img-2-3 {
        margin-top: 24px;
        margin-bottom: 16px;
        @include mq(tablet) {
            margin-top: 54px;
            margin-bottom: 36px;
        }
        @include mq(desktop) {
            margin-top: 88px;
            margin-bottom: 59px;
        }
    }
    &__img-6-7 {
        margin-top: 28px;
        margin-bottom: 12px;
        @include mq(tablet) {
                margin-top: 62px;
                margin-bottom: 28px;
            }
        @include mq(desktop) {
            margin-top: 100px;
            margin-bottom: 47px;
        }    
    }
    &__img-8-9 {
        margin-top: 14px;
        margin-bottom: 26px;
        @include mq(tablet) {
                margin-top: 34px;
                margin-bottom: 56px;
            }
        @include mq(desktop) {
            margin-top: 54px;
            margin-bottom: 93px;
        }
    }
    &__img-10 {
        margin-top: 44px;
        margin-bottom: 38px;
        @include mq(tablet) {
                margin-top: 95px;
                margin-bottom: 84px;
            }
        @include mq(desktop) {
            margin-top: 154px;
            margin-bottom: 138px;
        }
    }
}