// Файл переменных. Сюда ничего не дописываем, но пользуемся !!!

$accentColor: #d41443; // темно-розовый
$secondaryColor: #ffa5ba; // светло-розовый
$fontBlack: #000000; // черный
$fontWhite: #ffffff; // белый
$fontGray: #907e82; // серый
