@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0px auto;
  min-width: 280px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.header {
  display: block;
  position: absolute;
  width: 100%;
}

.header__link {
  display: inline-block;
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .header__link {
    padding: 0;
    margin-right: 354px;
  }
}

.header_nav {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header_nav {
    margin-top: 32px;
    display: flex;
  }
}

.mobile__button-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile__button-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background-color: #FFFFFF;
    border: none;
  }
  .mobile__button-nav svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    stroke: #D41443;
  }
  .mobile__button-nav svg use {
    display: block;
  }
}

.herro {
  width: 100%;
  height: 502px;
  background-color: rgb(255, 184, 202);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .herro {
    height: 100%;
  }
}

.herro__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .herro__container {
    height: 416px;
  }
}

.title-container {
  display: inline-block;
  position: relative;
  z-index: 3;
  padding-top: 194px;
}
@media screen and (min-width: 768px) {
  .title-container {
    padding-top: 102px;
  }
}

.herro__title {
  width: 218px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-align: left;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .herro__title {
    width: 162px;
    font-size: 22px;
  }
}

.herro__text {
  font-family: Titan One;
  font-size: 48px;
  font-weight: 400;
  line-height: 0.96;
  text-align: left;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .herro__text {
    font-size: 34px;
  }
}

.herro__first-btn {
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  background-color: #D41443;
  border: none;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
}

.herro__second-btn {
  display: inline-block;
  padding: 7px 14px;
  color: #D41443;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-family: "DM Sans";
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  margin-left: 8px;
}

.herro__img {
  position: absolute;
  top: 92px;
  right: 32px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .herro__img {
    width: 143px;
    height: 336px;
    top: 65px;
    right: 303px;
  }
}

.ice-cream__background {
  position: absolute;
  display: inline-block;
  top: 83px;
  right: -62px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: rgb(255, 165, 186);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .ice-cream__background {
    width: 335px;
    height: 333px;
    right: 185px;
    top: 43px;
  }
}

.herro__milk {
  display: none;
}
@media screen and (min-width: 768px) {
  .herro__milk {
    display: block;
    margin-top: 20px;
    position: relative;
    top: 20px;
  }
}

.milk-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .milk-container {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 184px;
    bottom: 56px;
    z-index: 3;
  }
}

.milk__text {
  width: 114px;
  height: 48px;
  font-family: "DM Sans";
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}

.milk__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  fill: #D41443;
}

.herro__woman {
  position: absolute;
  right: 32px;
  bottom: -7px;
  z-index: 3;
}

.number-text {
  font-family: Titan One;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #D41443;
}

.number-container {
  position: relative;
  top: 94px;
  right: 42px;
}

.products {
  background: #fefefe;
}

.products-text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .products-text {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
  }
}

.products-name {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 8px;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .products-name {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.products__ice-cream__background {
  position: relative;
  width: 280px;
  height: 489px;
  background: #FFB8CA;
  border-radius: 24px;
  margin-top: 148px;
}
@media screen and (min-width: 768px) {
  .products__ice-cream__background {
    width: 224px;
    height: 473px;
    margin-right: 16px;
    margin-bottom: 60px;
  }
}

.products__ice-coffee__background {
  position: relative;
  width: 280px;
  height: 489px;
  background: #F0D1A5;
  border-radius: 24px;
  margin-top: 148px;
}
@media screen and (min-width: 768px) {
  .products__ice-coffee__background {
    width: 224px;
    height: 473px;
    margin-right: 16px;
    margin-bottom: 60px;
  }
}

.products__milkshakes__background {
  position: relative;
  width: 280px;
  height: 489px;
  background: #C2E297;
  border-radius: 24px;
  margin-top: 148px;
}
@media screen and (min-width: 768px) {
  .products__milkshakes__background {
    width: 224px;
    height: 473px;
  }
}

.ice-cream {
  padding-top: 160px;
  height: 23px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .ice-cream {
    padding-top: 120px;
  }
}

.ice-cream::after {
  content: "...";
  display: block;
  padding-top: 32px;
}

.ice-coffee::after {
  content: "...";
  display: block;
  padding-top: 32px;
}

.milkshakes::after {
  content: "...";
  display: block;
  padding-top: 32px;
}

.ice__text {
  width: 100%;
  height: 124px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-top: 113px;
  padding-right: 39px;
  padding-left: 41px;
}
@media screen and (min-width: 768px) {
  .ice__text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.products__ice-cream__background {
  width: 100%;
}

.products__ice-coffee__background {
  width: 100%;
}

.products__milkshakes__background {
  width: 100%;
}

.ice-coffee {
  padding-top: 160px;
  height: 23px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .ice-coffee {
    padding-top: 120px;
  }
}

.milkshakes {
  padding-top: 160px;
  height: 23px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .milkshakes {
    padding-top: 120px;
  }
}

.ice-img {
  position: absolute;
  left: 45%;
  transform: translateY(350%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ice-img svg {
  fill: #D41443;
}

.ice-cream-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%) translateY(-100%);
  top: 140px;
}
@media screen and (min-width: 768px) {
  .ice-cream-img {
    transform: translate(-50%) translateY(-125%);
  }
}

.ice-coffee-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%) translateY(-100%);
  top: 140px;
}
@media screen and (min-width: 768px) {
  .ice-coffee-img {
    transform: translate(-50%) translateY(-125%);
  }
}

.ice-milkshakes {
  position: absolute;
  left: 50%;
  transform: translate(-50%) translateY(-100%);
  top: 140px;
}
@media screen and (min-width: 768px) {
  .ice-milkshakes {
    transform: translate(-50%) translateY(-125%);
  }
}

.ice-other {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 147px;
  top: 2275px;
}

@media screen and (min-width: 768px) {
  .products__ice {
    max-width: 768px;
    display: flex;
  }
}

.about {
  padding-top: 5px;
  padding-bottom: 40px;
  background-color: #fff5f6;
  background-position: 0 574px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767.98px) {
  .about {
    background-image: url(/images/about/img/about-bg-img_sm.png);
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-o-min-device-pixel-ratio: 2/1), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(/images/about/img/about-bg-img_sm@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .about {
    padding-top: 60px;
    background-image: url(../images/about/img/about-bg-img_lg.png);
    background-position: 0 255px;
  }
}
@media screen and (min-width: 1300px) and (min-device-pixel-ratio: 2), screen and (min-width: 1300px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1300px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1300px) and (min-resolution: 192dpi), screen and (min-width: 1300px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/img/about-bg-img_lg@2x.png);
  }
}
.about__subtitle {
  margin-bottom: 15px;
  font-family: "Titan One";
  font-style: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1300px) {
  .about__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}
.about__title {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Titan One";
  font-style: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (max-width: 767.98px) {
  .about__title {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1300px) {
  .about__title {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}
.about__container {
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .about__container {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299.98px) {
  .about__container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1299.98px) {
  .about__container {
    align-items: center;
  }
}
.about__img {
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .about__img {
    margin-bottom: 40px;
  }
}

.about__descr-container {
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about__descr-container {
    width: 334px;
  }
}
@media screen and (min-width: 1300px) {
  .about__descr-container {
    margin-left: 140px;
    width: 463px;
  }
}
.about__descr-title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about__descr-title {
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1300px) {
  .about__descr-title {
    margin-top: 91px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
.about__descr-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .about__descr-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1300px) {
  .about__descr-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
  }
}
.about__descr-text-part {
  display: inline-block;
  margin-top: 20px;
}

.about-btn {
  min-width: 176px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D41443;
  background-color: #FFFFFF;
  border-radius: 22px;
  border-color: transparent;
}
.about-btn__text {
  display: inline-block;
  margin-right: 10px;
}
.about-btn__arrow {
  stroke: #D41443;
}

.statistics {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 80px;
  width: 100%;
  background-color: #FFF5F6;
}

.statistics__item {
  max-width: 270px;
}

.statistics__item-milk::before {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  content: url(../images/production-count/milk.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.statistics__item-yogurt::before {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  content: url(../images/production-count/yogurt.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.statistics__item-lolly::before {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  content: url(../images/production-count/lolly.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

.statistics__title {
  margin-bottom: 25px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.statistics__text {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}

.reviews__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.reviews__photo {
  width: 85px;
  height: 85px;
}

.reviews__block {
  width: 100%;
  height: 308px;
  background-color: #fafafa;
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reviews__underline-block {
  width: 180px;
  height: 248px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__block-text {
  font-weight: 500;
  line-height: 2.59;
  text-align: center;
  width: 157px;
  height: 248px;
}

.reviews__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
}

.contacts {
  background-image: linear-gradient(to bottom, #ffffff 25%, #fff5f6 25%);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .contacts {
    margin-bottom: 120px;
  }
}
.contacts-container {
  padding-left: 16px;
  padding-right: 16px;
}

.link {
  color: inherit;
  text-decoration: none;
  padding-left: 0;
  margin-right: 0;
  display: block;
}

@media screen and (min-width: 480px) {
  .contacts__list {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts__item {
  margin-bottom: 20px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 45px;
  padding-left: 32px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #907E82;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    width: 224px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1300px) {
  .contacts__item {
    width: 393px;
  }
}

@media screen and (max-width: 767.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__address {
  font-style: inherit;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .contacts__address {
    font-size: 14px;
  }
}
@media screen and (min-width: 1300px) {
  .contacts__address {
    font-size: 16px;
  }
}

.adrress__label {
  display: inline-block;
  padding: 0 25px;
  font-size: 12px;
  background-color: #f0d1a5;
  margin-bottom: 20px;
  color: #FFFFFF;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .adrress__label {
    width: 73px;
    height: 28px;
    margin-bottom: 32px;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 6px;
  }
}

.adrress__label--beige {
  background-color: #c2e297;
  padding: 0px 28px;
}
@media screen and (min-width: 768px) {
  .adrress__label--beige {
    width: 138px;
    height: 28px;
    padding: 0px 17px;
  }
}

.address__title {
  color: #000000;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1299.98px) {
  .address__title {
    margin-bottom: 12px;
  }
}

.address__text {
  line-height: 1.5;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .address__text {
    line-height: 1.83;
    margin-bottom: 32px;
  }
}

.addrees__line {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

.address__box {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .address__box {
    margin-bottom: 32px;
  }
}

.time-list {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .time-list {
    margin-bottom: 32px;
  }
}

.time-list__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .time-list__item {
    margin-bottom: 12px;
  }
}

.time-list__item:nth-child(2) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .time-list__item:nth-child(2) {
    margin-bottom: 32px;
  }
}

.time-list__text {
  color: #000000;
}

.address-link__link {
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .address-link__link {
    line-height: 1.83;
  }
}

.contacts-button__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts-button__list {
    flex-direction: row;
    justify-content: center;
  }
}

.button-contacts {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: #D41443;
  background-color: #FFFFFF;
  width: 161px;
}
@media screen and (min-width: 768px) {
  .button-contacts {
    width: 174px;
    padding: 17px 38px;
  }
}
@media screen and (min-width: 1300px) {
  .button-contacts {
    width: 180px;
    padding: 17px 39px;
  }
}

.button-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 161px;
  height: 44px;
}

.contacts-button__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts-button__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.button-contacts--red {
  color: #FFFFFF;
  background-color: #d41342;
}
@media screen and (min-width: 768px) {
  .button-contacts--red {
    padding: 17px 34px 17px 30px;
    width: 191px;
  }
}
@media screen and (min-width: 1300px) {
  .button-contacts--red {
    width: 198px;
    padding: 17px 35px;
  }
}

.button-contacts--red:hover,
.button-contacts--red:focus {
  background-color: #c7133e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-contacts--white:hover,
.button-contacts--white:focus {
  background-color: #ecebeb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-button__icon {
  margin-left: 8px;
  padding-top: 3px;
}

.contacts-button__icon--white {
  stroke: #FFFFFF;
}

.contacts-button__icon--red {
  stroke: #f44336;
}

.footer {
  background-color: #FFF5F6;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

.footer__title {
  display: block;
  width: 232px;
  margin-bottom: 14px;
  font-family: "Titan One";
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFA5BA;
}

.footer__subtitle {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (max-width: 767.98px) {
  .footer__subtitle {
    display: block;
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    font-size: 48px;
    line-height: 1.14;
    width: 340px;
  }
}

.social-media {
  margin-bottom: 40px;
}
@media screen and (max-width: 767.98px) {
  .social-media {
    margin-top: 40px;
  }
}

.social-media__list {
  display: flex;
  justify-content: flex-end;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FEA5BB;
}

.social-media__link:hover {
  background-color: #D41443;
}

.social-media__item:not(:last-child) {
  margin-right: 28px;
}

.social-media__icon {
  fill: #FFF;
}

.contact {
  margin-bottom: 40px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;
  color: #000000;
}

.contact__link {
  text-decoration: none;
  color: #D41443;
}

.wrapper {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #907E82;
  border-top: 1px solid #E1E1E1;
}

.rights-reserved {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .rights-reserved {
    width: 140px;
    margin: 16px auto 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.menu-btn.is-active .mobile_buttom-open {
  opacity: 1;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: #E18298;
  padding: 20px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #D41443;
}

.mobile__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 32px;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: #FFFFFF;
  border: none;
}
.mobile__button svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  stroke: #D41443;
}
.mobile__button svg use {
  display: block;
}


.mobile__text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #D41443;
}

.mobile-nav__link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2px;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
}

.mobile-nav__list {
  text-align: left;
}

.mobile-nav__item {
  margin-bottom: 23px;
}

.modal__cross {
  display: block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  stroke: #FFFFFF;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal__cross {
    top: 20px;
    right: 32px;
  }
}

.menu-btn-open {
  display: block;
  width: 20px;
  height: 12px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  stroke: #D41443;
  position: absolute;
  top: 27px;
  right: 20px;
  outline: none;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .menu-btn-open {
    top: 46px;
    right: 224px;
  }

}/*# sourceMappingURL=main.css.map */