<!-- В этом файле работает Даниил -->
<section class="contacts" id="contacts-section">
  <div class="container contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <!-- первая карточка -->
      <li class="contacts__item">
        <div class="adrress__label">CAFE</div>
        <address class="contacts__address">
          <div class="address__box">
            <p class="address__title">Chicago</p>

            <p class="address__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <span class="addrees__line"></span>
          </div>
          <ul class="time-list">
            <li class="time-list__item">
              <p class="time-list__text">Monday - Friday</p>
              <p class="time-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-list__item">
              <p class="time-list__text">Saturday - Sunday</p>
              <p class="time-list__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="time-list__item">
              <span class="addrees__line"></span>
            </li>
          </ul>
          <ul class="address-link__list">
            <li class="address-link__item">
              <a class="link address-link__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="address-link__item">
              <a class="link address-link__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <!-- вторая карточка -->
      <li class="contacts__item">
        <span class="adrress__label adrress__label--beige">FOODTRUCK</span>
        <address class="contacts__address">
          <div class="address__box">
            <p class="address__title">Los Angeles</p>

            <p class="address__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <span class="addrees__line"></span>
          </div>
          <ul class="time-list">
            <li class="time-list__item">
              <p class="time-list__text">Monday - Friday</p>
              <p class="time-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-list__item">
              <p class="time-list__text">Saturday - Sunday</p>
              <p class="time-list__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="time-list__item">
              <span class="addrees__line"></span>
            </li>
          </ul>
          <ul class="address-link__list">
            <li class="address-link__item">
              <a class="link address-link__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="address-link__item">
              <a class="link address-link__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <!-- третья карточка -->
      <li class="contacts__item">
        <span class="adrress__label">CAFE</span>
        <address class="contacts__address">
          <div class="address__box">
            <p class="address__title">New York</p>
            <p class="address__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <span class="addrees__line"></span>
          </div>
          <ul class="time-list">
            <li class="time-list__item">
              <p class="time-list__text">Monday - Friday</p>
              <p class="time-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-list__item">
              <p class="time-list__text">Saturday - Sunday</p>
              <p class="time-list__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="time-list__item">
              <span class="addrees__line"></span>
            </li>
          </ul>
          <ul class="address-link__list">
            <li class="address-link__item">
              <a class="link address-link__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="address-link__item">
              <a class="link address-link__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="contacts-button__list">
      <li class="contacts-button__item">
        <button
          class="button-contacts button-contacts--red js-open-modal"
          data-modal="5"
          type="button"
        >
          Our Locations
          <svg class="contacts-button__icon contacts-button__icon--white" width="10" height="11">
            <use href="/images/icons.svg#icon-arrow1"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-button__item">
        <button
          class="button-contacts button-contacts--white js-open-modal"
          type="button"
          data-modal="6"
        >
          Franchise
          <svg class="contacts-button__icon contacts-button__icon--red" width="10" height="11">
            <use href="/images/icons.svg#icon-arrow1"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="modal contacts-modal" data-modal="5">
      <button class="modal__cross js-modal-close modal__cross--black">
        <svg class="modal__button-icon" width="14" height="14">
          <use class="modal__buttom-close" href=" /images/icons.svg#icon-crost"></use>
        </svg>
      </button>

      <iframe
        class="modal-frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10861.568219989986!2d36.22658864764223!3d50.030302865041016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a132ff22d0ab%3A0x8f0c5aa93b78f3b9!2z0KXQu9Cw0LTQuNC6!5e0!3m2!1sru!2sua!4v1652354838542!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="modal contacts-modal contacts-modal--map" data-modal="6">
      <button class="modal__cross js-modal-close modal__cross--black">
        <svg class="modal__button-icon" width="14" height="14">
          <use class="modal__buttom-close" href=" /images/icons.svg#icon-crost"></use>
        </svg>
      </button>
      <form class="form modal-form" name="modal-form " autocomplete="on">
        <ul class="list modal-form_list">
          <li class="modal-form__field">
            <b class="modal-form__title">Leave your details, we will call you back</b>
          </li>

          <li class="modal-form__field">
            <label class="modal-form__label" for="user_name">Name</label>
            <div class="modal-form__box">
              <input class="modal-form__input" type="text" name="Name" id="user_name" />
              <svg class="modal-form__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-person"></use>
              </svg>
            </div>
          </li>

          <li class="modal-form__field">
            <label class="modal-form__label" for="user_tel">Tell</label>
            <div class="modal-form__box">
              <input class="modal-form__input" type="tel" name="tel" id="user_tel" />
              <svg class="modal-form__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
            </div>
          </li>

          <li class="modal-form__field">
            <label class="modal-form__label" for="user_email">Mail</label>
            <div class="modal-form__box">
              <input class="modal-form__input" type="email" name="email" id="user_email" />
              <svg class="modal-form__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-email"></use>
              </svg>
            </div>
          </li>

          <li class="modal-form__textarea">
            <label class="modal-form__label" for="user_coment">Comment</label>

            <textarea
              class="modal-form__textarea-input"
              name="coment"
              id="user_coment"
              placeholder="Press text"
            ></textarea>
          </li>

          <li class="modal-form__field">
            <label class="modal-form__label-condition" for="condition">
              <input
                class="modal-form__check-input check-condition"
                type="checkbox"
                name="condition"
                value="condition"
                id="condition"
              />
              <span class="modal-form__check-icon checkbox-icon"></span>

              I agree with the newsletter and accept&nbsp;<a href="">Agreement conditions</a>
            </label>
          </li>
        </ul>

        <button class="button-contacts button-contacts--red button-contacts--center" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</section>
