<!-- В этом файле работает Дима Олейник -->
<section class="gallery" id="production-count">
    <div class="container gallery__container">
        <h2 class="visually-hidden gallery__title">Photos-plate</h2>
        <!-- <picture>
            <source srcset="/images/photo-plate/gallery-mob.jpg 1x, /images/photo-plate/gallery-mob2x.jpg 2x">
            <source srcset="/images/photo-plate/gallery-tab.jpg 1x, /images/photo-plate/gallery-tab2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="/images/photo-plate/gallery-desc.jpg 1x, /images/photo-plate/gallery-desc2x.jpg 2x" media="(min-width: 1200px)">
            <img src="/images/photo-plate/gallery-mob.jpg" alt="ice-creams">
        </picture> -->
            <div class="gallery__list">
                <div class="gallery__img-1 gallery__hover">
                    <picture>
                        <source srcset="/images/photo-plate/png/gallery-img1.png 1x, /images/photo-plate/png/gallery-img1x2.png 2x">
                        <img class="gallery__img" src="/images/photo-plate/png/gallery-img1.png" alt="Two ice-creams" width="40" height="40">
                    </picture>
                </div>
                <div class="gallery__box gallery__img-2-3">
                    <div class="gallery__hover">
                        <picture class="gallery__picture">
                            <source srcset="/images/photo-plate/png/gallery-img2.png 1x, /images/photo-plate/png/gallery-img2x2.png 2x">
                            <img class="gallery__img" src="/images/photo-plate/png/gallery-img2.png" alt="Pink ice-cream" width="40" height="40">
                        </picture>
                    </div>
                    <div class="gallery__hover">
                        <picture>
                            <source srcset="/images/photo-plate/png/gallery-img3.png 1x, /images/photo-plate/png/gallery-img3x2.png 2x">
                            <img class="gallery__img" src="/images/photo-plate/png/gallery-img3.png" alt="Ice-creams and cherry" width="40" height="40">
                        </picture>
                    </div>
                </div>
            <div class="gallery__box gallery__img-4-5">
                <div class="gallery__hover">
                    <picture class="gallery__picture">
                        <source srcset="/images/photo-plate/png/gallery-img4.png 1x, /images/photo-plate/png/gallery-img4x2.png 2x">
                        <img class="gallery__img gallery__img-big" src="/images/photo-plate/png/gallery-img4.png" alt="Ice-creams with blueberry" width="80"
                            height="80">
                    </picture>
                </div>
                <div class="gallery__hover">
                    <picture>
                        <source srcset="/images/photo-plate/png/gallery-img5.png 1x, /images/photo-plate/png/gallery-img5x2.png 2x">
                        <img class="gallery__img" src="/images/photo-plate/png/gallery-img5.png" alt="Woman and ice-creams" width="40" height="40">
                    </picture>
                </div>
            </div>
            <div class="gallery__box gallery__img-6-7">
                <div class="gallery__hover">
                    <picture>
                        <source srcset="/images/photo-plate/png/gallery-img6.png 1x, /images/photo-plate/png/gallery-img6x2.png 2x">
                        <img class="gallery__img" src="/images/photo-plate/png/gallery-img6.png" alt="Ice-cream in city" width="40" height="40">
                    </picture>
                </div>
                <div class="gallery__hover">
                    <picture>
                        <source srcset="/images/photo-plate/png/gallery-img7.png 1x, /images/photo-plate/png/gallery-img7x2.png 2x">
                        <img class="gallery__img" src="/images/photo-plate/png/gallery-img7.png" alt="Ice-cream with berry" width="40" height="40">
                    </picture>
                </div>  
            </div>
            <div class="gallery__box gallery__img-8-9">
                <div class="gallery__hover">
                    <picture>
                        <source srcset="/images/photo-plate/png/gallery-img8.png 1x, /images/photo-plate/png/gallery-img8x2.png 2x">
                        <img class="gallery__img" src="/images/photo-plate/png/gallery-img8.png" alt="Dog eat ice-cream" width="40" height="40">
                    </picture>
                </div>
                <div class="gallery__hover">
                    <picture>
                        <source srcset="/images/photo-plate/png/gallery-img9.png 1x, /images/photo-plate/png/gallery-img9x2.png 2x">
                        <img class="gallery__img" src="/images/photo-plate/png/gallery-img9.png" alt="Coffee ice-cream" width="40" height="40">
                    </picture>
                </div>
            </div>
            <div class="gallery_img-10 gallery__hover">
                <picture>
                    <source srcset="/images/photo-plate/png/gallery-img10.png 1x, /images/photo-plate/png/gallery-img10x2.png 2x">
                    <img class="gallery__img" src="/images/photo-plate/png/gallery-img10.png" alt="Donats and ice-cream" width="40" height="40">
                </picture>
            </div>
        </div>

    </div>
</section>
