<section class="statistics">
    <div class="container">
        <h2 hidden>Statistics</h2>
        <ul class="statistics__list">
            <li class="statistics__item statistics__item-milk">
                <h3 class="statistics__title">721</h3>
                <p class="statistics__text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
            </li>
            <li class="statistics__item statistics__item-yogurt">
                <h3 class="statistics__title">16kg</h3>
                <p class="statistics__text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
            </li>
            <li class="statistics__item statistics__item-lolly">
                <h3 class="statistics__title">84</h3>
                <p class="statistics__text">Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>