<!-- В этом файле работает София -->
    <section class="products" id="production-section">
        <div class="container">
            <p class="products-text">100% natural</p>
            <h2 class="products-name">products</h2>
            <ul class="products-card-list">
                <li class="products-card-list__item">
                    <div class="products-card-list__color-box products-card-list__color-box--red products-card-list__color-box--front" data-window="1">
                        <div class="card-top-img">
                            <picture>
                                <source srcset="./images/products/ice-cream-phone-x1.png 1x, ./images/products/ice-cream-phone-x2.png 2x" media="(max-width: 768px)">
                                <source srcset="./images/products/ice-cream-tablet-x1.png 1x, ./images/products/ice-cream-tablet-x2.png 2x" media="(max-width: 1280px)">
                                <img src="./images/products/ice-cream-desktop-x1.png" srcset="./images/products/ice-cream-desktop-x1.png 1x, ./images/products/ice-cream-desktop-x2.png 2x" alt="Ice-cream">
                            </picture>
                        </div>
                        <h3 class="card__title">ice cream</h3>
                        <button type="button" class="card-points">
                            <span class="card-points__point"></span>
                            <span class="card-points__point"></span>
                            <span class="card-points__point"></span>
                        </button>
                        <p class="card__text card__text--mobal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                        <p class="card__text card__text--desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button type="button" class="card__rotate-button js-rotate-button-f" data-window="1">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="products-card-list__color-box products-card-list__color-box--red products-card-list__color-box--back " data-window="1">
                        <div class="card-top-img card-top-img--turned">
                            <picture>
                                <source srcset="./images/products/ice-cream-phone-x1.png 1x, ./images/products/ice-cream-phone-x2.png 2x" media="(max-width: 768px)">
                                <source srcset="./images/products/ice-cream-tablet-x1.png 1x, ./images/products/ice-cream-tablet-x2.png 2x" media="(max-width: 1280px)">
                                <img src="./images/products/ice-cream-desktop-x1.png" srcset="./images/products/ice-cream-desktop-x1.png 1x, ./images/products/ice-cream-desktop-x2.png 2x" alt="Ice-cream">
                            </picture>
                        </div>
                        <div class="logo-cream">
                            <img src="/images/cream-logo.svg" alt="logo">
                        </div>
                        <button type="button" class="card__rotate-button js-rotate-button" data-window="1">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="products-card-list__item">
                    <div class="products-card-list__color-box products-card-list__color-box--orange products-card-list__color-box--front" data-window="2"> 
                        <div class="card-top-img">
                            <picture>
                                <source srcset="./images/products/ice-coffee-phone-x1.png 1x, ./images/products/ice-coffee-phone-x2.png 2x" media="(max-width: 768px)">
                                <source srcset="./images/products/ice-coffee-tablet-x1.png 1x, ./images/products/ice-coffee-tablet-x2.png 2x" media="(max-width: 1280px)">
                                <img src="./images/products/ice-coffee-desktop-x1.png" srcset="./images/products/ice-coffee-desktop-x1.png 1x, ./images/products/ice-coffee-desktop-x2.png 2x" alt="Ice-cream">
                            </picture>
                        </div>
                        <h3 class="card__title">ice coffee</h3>
                        <button type="button" class="card-points">
                            <span class="card-points__point"></span>
                            <span class="card-points__point"></span>
                            <span class="card-points__point"></span>
                        </button>
                        <p class="card__text card__text--mobal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                        <p class="card__text card__text--desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button type="button" class="card__rotate-button js-rotate-button-f" data-window="2">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="products-card-list__color-box products-card-list__color-box--orange products-card-list__color-box--back " data-window="2">
                        <div class="card-top-img card-top-img--turned">
                            <picture>
                                <source srcset="./images/products/ice-coffee-phone-x1.png 1x, ./images/products/ice-coffee-phone-x2.png 2x" media="(max-width: 768px)">
                                <source srcset="./images/products/ice-coffee-tablet-x1.png 1x, ./images/products/ice-coffee-tablet-x2.png 2x" media="(max-width: 1280px)">
                                <img src="./images/products/ice-coffee-desktop-x1.png" srcset="./images/products/ice-coffee-desktop-x1.png 1x, ./images/products/ice-coffee-desktop-x2.png 2x" alt="Ice-cream">
                            </picture>
                        </div>
                        <div class="logo-cream">
                            <img src="/images/cream-logo.svg" alt="logo">
                        </div>
                        <button type="button" class="card__rotate-button js-rotate-button" data-window="2">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="products-card-list__item">
                    <div class="products-card-list__color-box products-card-list__color-box--green products-card-list__color-box--front" data-window="3"> 
                        <div class="card-top-img">
                            <picture>
                                <source srcset="./images/products/milkshakes-phone-x1.png 1x, ./images/products/milkshakes-phone-x2.png 2x" media="(max-width: 768px)">
                                <source srcset="./images/products/milkshakes-tablet-x1.png 1x, ./images/products/milkshakes-tablet-x2.png 2x" media="(max-width: 1280px)">
                                <img src="./images/products/milkshakes-desktop-x1.png" srcset="./images/products/milkshakes-desktop-x1.png 1x, /images/products/milkshakes-desktop-x2.png 2x" alt="Ice-cream">
                            </picture>
                        </div>
                        <h3 class="card__title">milkshakes</h3>
                        <button type="button" class="card-points">
                            <span class="card-points__point"></span>
                            <span class="card-points__point"></span>
                            <span class="card-points__point"></span>
                        </button>
                        <p class="card__text card__text--mobal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                        <p class="card__text card__text--desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button type="button" class="card__rotate-button js-rotate-button-f" data-window="3">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="products-card-list__color-box products-card-list__color-box--green products-card-list__color-box--back " data-window="3">
                        <div class="card-top-img card-top-img--turned">
                            <picture>
                                <source srcset="./images/products/milkshakes-phone-x1.png 1x, ./images/products/milkshakes-phone-x2.png 2x" media="(max-width: 768px)">
                                <source srcset="./images/products/milkshakes-tablet-x1.png 1x, ./images/products/milkshakes-tablet-x2.png 2x" media="(max-width: 1280px)">
                                <img src="./images/products/milkshakes-desktop-x1.png" srcset="./images/products/milkshakes-desktop-x1.png 1x, /images/products/milkshakes-desktop-x2.png 2x" alt="Ice-cream">
                            </picture>
                        </div>
                        <div class="logo-cream">
                            <img src="/images/cream-logo.svg" alt="logo">
                        </div>
                        <button type="button" class="card__rotate-button js-rotate-button" data-window="3">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </section>